<div class="background px-5 d-flex justify-content-center">
    <div class="mt-3 width-60 about-me">
        My name is Henrique Nascimento, I am 29 years old and have been working with Angular since 2017.
        I was born in Brazil but I am currently livng in Portugal.
        I developed this software as part of a test for Dfakto.
        Everything that I developed in this task, I did with scalability in mind, that's why, for example, ther is a shared module with only 1 component, 
        that is used only at 1 place.
        As requested, I implemented some improvements (Added plot and metascore to the movie details modal and an error
        message to the search movies)
        and thought of another that I couldn't develop in this version (Add an embed video of the movie's trailer using
        the Youtube API).
    </div>
</div>