li {
    cursor: pointer;
}

.page-selected {
    background-color: lightblue !important;
}

.background {
    background-color: white !important;
    width: 100%;
}

.page-range {
    color: #a1a1a1
}