/* You can add global styles to this file, and also import other style files */
$base-color: #334654;
$primary-color: #71c1a2;
body {
    font-family: sans-serif !important;
    background-color: #e0e0e0 !important;
}
.font-weight-bold {
    font-weight: bold;
}

.color-white {
    color: white;
}