<div class="background">
    <div class="d-flex flex-column align-items-center px-20">
        <div class="mt-5">
            <img class="movie-icon" src="assets/movie.svg" alt="Movies" />
        </div>
        <div class="text-center mt-3">
            <p class="home-text-description font-weight-bold px-5">FIND THE INFO OF YOUR FAVORITE MOVIE</p>
        </div>
    </div>
    <div class="separator d-flex align-items-center">
        <div class="line"></div>
        <div class="font-weight-bold px-3 home-icon">★</div>
        <div class="line"></div>
    </div>
</div>