@import '../../styles.scss';

.background {
    background-color: $primary-color;
    height: 100vh;
}

.movie-icon {
    width: 10rem;
}

.home-text-description {
    font-size: 3rem;
    line-height: 1;
    color: white;
}

.px-20 {
    padding-left: 20%;
    padding-right: 20%;
}

.home-icon {
    color: white;
    font-size: 2rem;
}

.separator{
    padding-left: 40%;
    padding-right: 40%;
  }
  
  .separator .line{
    flex: 1 !important;
    height: 3px;
    background-color: white;
  }